<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Watch Video</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background: #000 !important">
  <div class="player">
    <ion-list style="margin-bottom: 0px" *ngIf="videoId">
      <iframe
        allowtransparency="false"
        style="background: #000"
        #iframeVideo
        allowfullscreen
        width="100%"
        height="240"
        [src]="videoUrl ? videoUrl : null"
        (load)="trustedVideoUrl ? handleIFrameLoadEvent() : null"
        frameborder="0"
      ></iframe>
    </ion-list>
  </div>
</ion-content>
