<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SIDEMENU_ABOUT_APP' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngIf="currentLanguage === 'en'">
        <p><strong><u>About the App</u></strong></p>
        <p>This <strong>&lsquo;stroke home care&rsquo;</strong> app is aimed to develop to train the caregivers (relatives) of the stroke patients who are discharged from the hospital in bedridden condition regarding basic nursing care like prevention of bedsore, urinary catheter care, feeding, position change, active and passive exercises, so that these caregivers can become capable to provide the basic nursing care at home. This app is available in English and Hindi languages.</p>
        <p><strong><u>This app has the following contents:</u></strong></p>
        <p><strong>Section A: What is stroke?</strong></p>
        <p>This animated video section is explained about what is stroke, sign and symptoms of stroke, risk factors of stroke, how to prevent stroke, treatment of acute stroke, rehabilitation after stroke etc.</p>
        <p><strong>Section B:</strong> <strong>What can be the problems after stroke? </strong></p>
        <p>The stroke patients may have various problems after stroke like bedsore, frozen shoulder, contractures, urinary tract infection, foul smelling from mouth, fever etc. The caregivers can fill up these problems in the app and submit. On the other hand, the researcher analyzes these problems and can take necessary actions to provide timely care to the patients.</p>
        <p><strong>Section C: How can I provide home care to my stroke patient?</strong></p>
        <p>This is very important section of the app. In this section the validated instructional video for basic nursing care are made under the supervision of the following experts in the concerned fields:</p>
        <ol>
        <li><strong>Stroke Expert:</strong> Dheeraj Khurana, Stroke Incharge, PGIMER, Chandigarh.<br /><br /></li>
        <li><strong>Nursing Expert:</strong>
        <ol>
        <li style="list-style-type: none;">
        <ol style="list-style-type: lower-roman;">
        <li>Dr Sukhpal Kaur, Lecturer, NINE, PGIMER, Chandigarh.</li>
        <li>Dr Manju Dadapanni, Lecturer, NINE, PGIMER, Chandigarh.</li>
        <li>Dr Monika Dutta, Lecturer, NINE, PGIMER, Chandigarh.</li>
        <li>Ms Manisha Nagi, Tutor, NINE, PGIMER, Chandigarh</li>
        <li>Ms Maninderdeep Kaur, Tutor, NINE, PGIMER, Chandigarh.</li>
        <li>Ms Ruchi Saini, Tutor, NINE, PGIMER, Chandigarh.<br /><br /></li>
        </ol>
        </li>
        </ol>
        </li>
        <li>Physiotherapy Expert: Dr Rajan Chellapa, Physiotherapist, Department of Physiotherapy, PGIMER<br /><br /></li>
        <li>Psychological Expert:
        <ol style="list-style-type: lower-roman;">
        <li>Dr Karobi Das, Lecturer, NINE, PGIMER, Chandigarh.</li>
        <li>Dr Manju Mohanty, Assistant Professor, PGIMER</li>
        <li>Dr Akhilesh Yadav, Assistant Professor, PGIMER, Chandigarh</li>
        <li>Dr Sunita Sharma, Lecturer, PGIMER<br /><br /></li>
        </ol>
        </li>
        </ol>
        <p><strong>These videos are focused on: </strong></p>
        <ul>
        <li>What is bedsore? How to prevent bedsore?</li>
        <li>How do I care of mouth of patient?</li>
        <li>How do I care urinary catheter of my patient?</li>
        <li>How do I feed my patient through feeding tube?</li>
        <li>How do I provide active and passive exercises of upper and lower limb to my patient?</li>
        <li>How to provide psychological support to my patient?</li>
        </ul>
        <p><strong>Section D:</strong> <strong>This section contains following areas: </strong></p>
        <ol>
        <li><strong>Important do&rsquo;s and don&rsquo;ts:</strong> This section has hand washing with soap and hand-rub video for the caregivers so that the caregivers can wash their hands before and after touching their patient. This section also has &lsquo;Medication do&rsquo;s and don&rsquo;ts instructions&rsquo; for the patients.</li>
        <li><strong> Follow up Schedule:</strong> The caregivers can send their three preference date for Neurology OPD follow up on Monday/Wednesday according to their suitability. The researcher on the other hand send text message to confirm their follow-up schedule. This is a two way communication.</li>
        <li><strong> Feedback: </strong>The caregivers can send their procedural video (only for 25 seconds recording) to the researcher. The researcher can rectify the caregivers if they are performing any wrong step in any care procedure. The researcher will call the caregiver on their phone and give training regarding the procedure.</li>
        </ol>
        <p>&nbsp;</p>
  
    </div>
  
  
    <div *ngIf="currentLanguage === 'hi'">
        <p><strong><u>ऐप</u></strong> <strong><u>के</u></strong> <strong><u>बारे</u></strong> <strong><u>में</u></strong> <strong><u>जानकारी</u></strong></p>
        <p>यह <strong>'</strong><strong>स्ट्रोक</strong> <strong>होम</strong> <strong>केयर</strong><strong>'</strong> ऐप का उद्देश्य अधरंग (स्ट्रोक) मरीजों के देखभाल करने वाले (रिश्तेदारों) को प्रशिक्षित करना है I अधरंग के बहुत से मरीजों को बिस्तर पर पड़े-पड़े ही अस्पताल से छुट्टी मिल जाती है I इन मरीजों को मूल नर्सिंग देखभाल की आवश्यकता होती है जैसे कि बिस्तरी घाव से बचाव, पेशाब की नली की देखभाल, नाक की नली से खाना देना, मरीज की करवट बदलना, निष्क्रिय एवम सक्रिय व्यायाम आदि I ताकि मरीज के देखभाल करने वाले घर पर ही मरीज को मूल नर्सिंग देखभाल प्रदान करने में सक्षम हो सकें। यह ऐप अंग्रेजी और हिंदी भाषाओं में उपलब्ध है।</p>
        <p><strong>इस</strong> <strong>ऐप</strong> <strong>में</strong> <strong>निम्नलिखित</strong> <strong>सामग्री</strong> <strong>है</strong><strong>:-</strong></p>
        <p><strong>भाग</strong> <strong>अ</strong><strong> : </strong><strong>स्ट्रोक</strong> <strong>क्या</strong> <strong>है</strong><strong>?</strong></p>
        <p>इस एनिमेटेड वीडियो सेक्शन में स्ट्रोक, स्ट्रोक के लक्षण, स्ट्रोक होने के कारण, स्ट्रोक को रोकने, स्ट्रोक के उपचार, स्ट्रोक के बाद पुनर्वास इत्यादि के बारे में बताया गया है।</p>
        <p><strong>भाग</strong> <strong>ब</strong><strong>: </strong><strong>स्ट्रोक</strong> <strong>के</strong> <strong>बाद</strong> <strong>मरीज</strong> <strong>को</strong> <strong>होने</strong> <strong>वाली</strong> <strong>समस्याएं</strong><strong>?</strong></p>
        <p>स्ट्रोक रोगियों को स्ट्रोक के बाद कई समस्याएं हो सकती हैं जैसे कि बिस्तरी घाव, जकड़े हुए कंधे, पेशाब का संक्रमण, मुंह से बदबू आना, बुखार इत्यादि जैसे । देखभाल करने वाले इन समस्याओं को ऐप में भर सकते हैं और जमा कर सकते हैं। दूसरी ओर, शोधकर्ता इन समस्याओं का विश्लेषण करता है और रोगियों को समय पर देखभाल प्रदान करने के लिए आवश्यक कार्रवाई कर सकता है ।</p>
        <p><strong>भाग</strong> <strong>स</strong><strong>: </strong><strong>मैं</strong> <strong>अपने</strong> <strong>स्ट्रोक</strong> <strong>रोगी</strong> <strong>को</strong> <strong>घरेलू</strong> <strong>देखभाल</strong> <strong>कैसे</strong> <strong>प्रदान</strong> <strong>कर</strong> <strong>सकता</strong> <strong>हूं</strong><strong>?</strong></p>
        <p>यह ऐप का बहुत महत्वपूर्ण भाग है। ऐप के इस भाग में मूलभूत नर्सिंग देखभाल के लिए मान्य निर्देशित वीडियो संबंधित क्षेत्रों में निम्नलिखित विशेषज्ञों की देखरेख में किए गए हैं:</p>
        <p>1. <strong>स्ट्रोक</strong> <strong>विशेषज्ञ</strong><strong>:</strong> प्रोफेसर धीरज खुराना, स्ट्रोक इनचार्ज, पीजीआईएमईआर, चंडीगढ़।</p>
        <p>2. <strong>नर्सिंग</strong> <strong>विशेषज्ञ</strong><strong>:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <ol style="list-style-type: lower-roman;">
        <li>डॉ सुखपाल कौर, व्याख्याता, नाईन कॉलेज, पीजीआईएमईआर, चंडीगढ़।&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>डॉ मंजू डंडापानी, व्याख्याता, नाईन कॉलेज, पीजीआईएमईआर, चंडीगढ़।&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>डॉ मोनिका दत्ता, व्याख्याता, नाईन कॉलेज, पीजीआईएमईआर, चंडीगढ़।&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>श्रीमती मनीषा नेगी, ट्यूटर, नाईन कॉलेज, पीजीआईएमईआर, चंडीगढ़।&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>श्रीमती मनिंदरदीप कौर, ट्यूटर, नाईन कॉलेज, पीजीआईएमईआर, चंडीगढ़।&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>श्रीमती रूचि सैनी, ट्यूटर, नाईन कॉलेज, पीजीआईएमईआर, चंडीगढ़।</li>
        </ol>
        <p>&nbsp;</p>
        <p>3. <strong>फिजियोथेरेपी</strong> <strong>विशेषज्ञ</strong><strong>:</strong> डॉ राजन चेलापा, फिजियोथेरेपिस्ट, फिजियोथेरेपी विभाग, पीजीआईएमईआर, चंडीगढ़।4. <strong>मनोवैज्ञानिक</strong> <strong>विशेषज्ञ</strong><strong>:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <ol style="list-style-type: lower-roman;">
        <li>डॉ करोबी दास, व्याख्याता, नाईन कॉलेज, पीजीआईएमईआर, चंडीगढ़।&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>डॉ मंजू मोहंती, सहायक प्रोफेसर, पीजीआईएमईआर, चंडीगढ़।&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>डॉ अखिलेश यादव, सहायक प्रोफेसर, पीजीआईएमईआर, चंडीगढ़।&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>डॉ सुनीता शर्मा, व्याख्याता, पीजीआईएमईआर, चंडीगढ़।</li>
        </ol>
        <p>&nbsp;</p>
        <p><strong>ये</strong> <strong>वीडियो</strong> <strong>इस</strong> <strong>पर</strong> <strong>केंद्रित</strong> <strong>हैं</strong><strong>:</strong><strong>-</strong></p>
        <p>1) बिस्तरी घाव क्या है? बिस्तरी घाव को कैसे रोकें?</p>
        <p>2) मैं मरीज के मुंह की देखभाल कैसे करूं?</p>
        <p>3) मैं अपने मरीज के पेशाब की नली की देखभाल कैसे करूं?</p>
        <p>4) मैं नाक में लगी नली से मरीज को खाना कैसे दे सकता हूँ ?</p>
        <p>5) मैं अपने मरीज को हाथों एवम पैरों का सक्रिय और निष्क्रिय व्यायाम कैसे कराऊँ?</p>
        <p>6) अपने मरीज को मनोवैज्ञानिक समर्थन कैसे प्रदान करें?</p>
        <p>&nbsp;</p>
        <p><strong>भाग</strong> <strong>द</strong><strong>: </strong><strong>इस</strong> <strong>भाग</strong> <strong>में</strong> <strong>निम्नलिखित</strong> <strong>क्षेत्र</strong> <strong>हैं</strong><strong>:-</strong>&nbsp;</p>
        <p>1<strong>. </strong><strong>महत्वपूर्ण</strong> <strong>क्या</strong> <strong>करें</strong> <strong>और</strong> <strong>क्या</strong> <strong>न</strong> <strong>करें</strong><strong>:</strong> इस अनुभाग में देखभाल करने वालों के लिए साबुन और सेनीटाईज़र के साथ हाथ धोने का वीडियो है। इसकी मदद से देखभाल करने वाले मरीज को छूने से पहले और छूने के बाद अपने हाथ अच्छे से साफ़ कर सके I इस भाग में मरीज के लिए दवाएं के लियें &lsquo;क्या करें और क्या न करें&rsquo; निर्देश दियें हुए हैं ।&nbsp;</p>
        <p><strong>2. </strong><strong>मरीज</strong> <strong>को</strong> <strong>ओपीडी</strong> <strong>में दिखाना</strong><strong>:</strong> देखभाल करने वाले अपनी उपयुक्तता के अनुसार सोमवार या बुधवार को न्यूरोलॉजी ओपीडी में मरीज के फॉलोअप के लिए अपनी तीन प्राथमिक तिथि इस ऐप के द्वारा भेज सकते हैं। दूसरी ओर शोधकर्ता पुष्टि करने के लिए देखभाल करने वालों के फ़ोन पर टेक्स्ट संदेश भेज सकता है ताकि मरीज उस दिनांक को न्यूरोलॉजी ओपीडी में बिना किसी परेशानी के चैक कराने ला सकतें है ।</p>
        <p><strong>3. </strong><strong>प्रतिक्रिया</strong><strong>:</strong> देखभाल करने वाले शोधकर्ता को अपनी प्रक्रिया (प्रोसीजर) का वीडियो (केवल 25 सेकंड की रिकॉर्डिंग) इस ऐप के द्वारा भेज सकते हैं। यदि वे किसी भी देखभाल प्रक्रिया में कोई गलत कर रहे हैं तो शोधकर्ता देखभाल करने वालों को सुधार सकता है। शोधकर्ता देखभालकर्ता को उनके फोन पर कॉल करेगा और प्रक्रिया के बारे में प्रशिक्षण देगा।</p>
        <p>&nbsp;</p>
  
    </div>
  
</ion-content>
